
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.logo h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 2.5rem;
    color: #444;
    line-height: 1.2;
}

.logo p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.logo a {
    color: #007bff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #555;
}

nav ul li a.active {
    color: #007bff;
}
nav ul li :hover{
            color: #007bff;
        }

.hero {
    margin: 20px 0;
}

.hero-image {
    width: 100%;
    height: auto;
}

.intro {
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
    text-align: center;
    color: #555;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #666;
}

footer hr {
    width: 80%;
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


